<div class="col-sm-12">
    <h1>
        <b>HR, Human Resources, Human Capital</b>
    </h1>
    <p>
        Call it what you want,
        ultimately, your business is run, by people.
        As a Business Owner or Senior manager, you will always have to
        manage people and deal with problems
    </p>
    <div class="col-sm-12 text-right">
        <h2>
            <b>.....Do You Have the Time to Do This?</b>
        </h2>
    </div>
    <p>
        &nbsp;
    </p>
    <p>
        We offer a simple, affordable, practical solution, there are no
        paper handouts, no "take you by the hand and see if you swim"
        telephone calls.
    </p>
    <p>
        No elaborate brochures (who has the time to read them?)
    </p>
    <div class="col-sm-12  text-right">
        <h2>
            <b>………We come to your workplace, we listen, we advise and we help.</b>
        </h2>
    </div>
</div>
<div class="row"></div>