<div class="col-sm-12 ">
    <p>
        <b>We </b>
        are a professionally indemnified business, we cover all legal aspects of employment legislation and are proud to be supported by, and  in
        working partnership with:
    </p>
    <p>
        <a target="_blank" href="http://www.sheirs-solicitors.com/">
            <img src="img/sheirs.png" alt="Sheirs Solicitors Logo">
        </a>
    </p>
    <p>
        Sheirs solicitors  are a Yorkshire based law firm, with a wealth of experience in employment legislation.
    </p>
</div>
<div class="row"></div>