<div >
    <p>
        <b> We assist in all areas of HR consultancy, including:</b>
    </p>
    <p >
        <div class="alternatefont">Disciplinary and Grievance</div><div class="spacer">|</div> Conflict Resolution <div class="spacer">|</div>
        <div class="alternatefont">Absence Management</div> <div class="spacer">|</div>  

        Performance Management <div class="spacer">|</div> <div class="alternatefont">Mediation</div> <div class="spacer">|</div> Tribunals <div class="spacer">|</div> <div class="alternatefont">Inductions</div> <div class="spacer">|</div> 

        Health and Safety <div class="spacer">|</div> <div class="alternatefont">Recruitment and Selection</div> <div class="spacer">|</div> Wage Negotiations <div class="spacer">|</div> 

        <div class="alternatefont">TUPE</div> <div class="spacer">|</div> Bullying and Harassment <div class="spacer">|</div> <div class="alternatefont">Redundancy</div> <div class="spacer">|</div> Outplacement <div class="spacer">|</div> 

        <div class="alternatefont">Contracts</div> <div class="spacer">|</div> Terminations <div class="spacer">|</div> <div class="alternatefont">Culture Change</div> <div class="spacer">|</div>Training
    </p> <br/>
    <p>
        <b>We assist in all areas of HR Recruitment, placing generalist and specialist:</b>
    </p>
    <p>
        <div class="alternatefont">HR Business Partners</div> <div class="spacer">|</div> HR Managers <div class="spacer">|</div> <div class="alternatefont">HR Consultants</div> <div class="spacer">|</div>

        HR Assistant <div class="spacer">|</div> <div class="alternatefont">HR Business Consultant</div> <div class="spacer">|</div> HR Officer <div class="spacer">|</div>
    </p>    
</div>
