<div class="col-sm-12 ">
    <p>
           <b>HR Caliber</b>
         is a team of experienced HR and Recruitment Professionals
        based in the UK, servicing business both in the UK and Mainland Europe.
    </p>
    <p>
            <b>Our HR consultants</b>
         are CIPD qualified and have worked in numerous

        business sectors including Finance, Legal, Waste Recycling and

        Manufacturing.
    </p>
    <p>
            <b>Our HR Recruiters</b>
        are also experienced HR Professionals who assist

        businesses in recruiting and placing only the best in HR Talent.
    </p>
    <p>
            <b>We have strong experience </b>
        of implementing affordable HR solutions, whilst

        providing ongoing weekly support.
    </p>
    <p>
            <b>Based in Leeds</b>
        
    , West Yorkshire, we have built a strong base of working

    professionals who utilise our services.
</div>
<div class="row"></div>